<div class="row">
{% for page in site.pages %}
{% if page.category == 'GeoJSONApp' %}
    <div class="span3">
        <div class="previewtile">
            <a href="/UsingUnfolding{{ page.url }}">
                    <h1>
                        {{ page.title | upcase}}
                    </h1>
                <div class="previewimage">
                    <img src="/UsingUnfolding/assets/images/thumbs/{{ page.titleimage }}"></img>
                </div>
                    <h3>
                        {{ page.teaser }}
                    </h3>
            </a>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>